body {
    background-size: cover;
    background-repeat: no-repeat;
}

#title_main {
    background-color: #2c3c5c;
    width: 100%;

}

/* Header Section */
#section_1 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

#title {
    width: 80%;
    text-align: center;
    background-color: #2c3c5c;
    padding: 10px;
    color: white;
}

#head_1,
#head_2 {
    font-family: 'Times New Roman', Times, serif;
}

#img_1 {
    height: 110px;
    width: 110px;
    border-radius: 8px;
    margin-left: 25px;
}

#img_2 {
    height: 110px;
    width: 110px;
    border-radius: 8px;
    margin-right: 25px;
}

/* Navigation Bar */
#section_2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 5px solid #343c64;
    position: relative;
    z-index: 10;
}

.navbutt {
    padding: 12px 16px;
    background-color: rgb(255, 255, 255);
    color: #343c64;
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.navbutt:hover {
    background-color: #f3a37c;

}


.footer-bottom {
    background-color: #161b46;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    font-weight: bold;
}


/* about section */

#text {
    background-color: white;
    width: 70%;
    border-radius: 8px;
    margin-right: 5%;
    margin-bottom: 50px;

}

#title1 {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 20px;
    color: #98CD00;
    text-decoration: underline #98CD00;
}

#about_text {
    padding-left: 50px;
    padding-right: 50px;
}

#main_div {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}


#sidebar {
    background-color: #161b46;
    width: 20%;
    border-radius: 8px;
    border: 5px solid rgb(255, 255, 255);
    padding: 0;
    box-sizing: border-box;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

.side_li,
.side_heading {
    width: 100%;
    height: 55px;
    padding-left: 30px;
    padding-top: 10px;
    list-style: none;
    text-align: left;
    font-weight: bold;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.side_li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
}

.side_li:hover {
    background-color: #dcdcdc;
}

.side_li a:hover {
    color: #161b46;
}


.side_heading {
    background-color: black;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

thead {
    background-color: #333;
    color: white;
}

th,
td {
    padding: 15px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

td strong {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    color: #000;
}

td span {
    color: #666;
    font-size: 14px;
}

tr:hover {
    background-color: #f1f1f1;
}

.profile-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 100px;
}

.profile-btn:hover {
    background-color: #388e3c;
}

#title2 {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 20px;
    color: #98CD00;
    text-decoration: underline #98CD00;
}

.NT_Staff {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;

}





/* syllabus page */





table.curriculum-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.curriculum-table thead th {
    background-color: #333;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.curriculum-table th[colspan] {
    text-align: center;
    font-size: 18px;
    background-color: #333;
}

.curriculum-table tbody td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
}

.download-btn {
    background-color: #4CAF50;
    color: white;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;

}

.download-btn:hover {
    background-color: #388e3c;
}
